<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style.css">
  <title>Node.js課題①</title>
</head>
<body>
  <div class="container">
    <h1>Node.js課題①</h1>
      <ul>
        <li><a href="/login">ログイン画面へ</a></li>
        <li><a href="/register">登録画面へ</a></li>
      </ul>
  </div>
</body>
</html>