<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style.css">
  <title>ログイン画面</title>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</head>
<body>
  <div class="container">
    <div class="contentName">Login</div>
      <form action="#" method=#post>
        <dl>
          <dt>E-Mail Address:　</dt>
          <dd><input type="text"></dd>
          <dt>Password:　</dt>
          <dd><input type="password"></dd>
        </dl>
      <button type="button" class="id" onclick="location.href='/'">Login</button>
      <a href="/">Forget Your Password?</a>
    </form>
  </div>
</body>
</html>