<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style.css">
  <title>登録画面</title>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</head>
<body>
  <div class="container">
    <div class="contentName">Register</div>
      <form name="myform" action="/home" method="post" onsubmit=" return checkTest() ">
        <dl>
          <dt>Name:　</dt>
          <dd><input type="text" id="name" name="username"></dd>
          <dt>E-Mail Address:　</dt>
          <dd><input type="text" id="email" name="email"></dd>
          <dt>Password:　</dt>
          <dd><input type="password" id="password" name="password"></dd>
          <dt>Confirm Password:　</dt>
          <dd><input type="password" id="passConfirm" name="passConfirm"></dd>
        </dl>
        <input type="submit" value="Register" id="btn" class="btn">
      </form>

      <script>
        function checkTest(){
          const name = document.myform.username
          const email = document.myform.email
          const password = document.myform.password
          const passConfirm = document.myform.passConfirm

          if(!name.value || !email.value || !password.value || !passConfirm.value){
            alert('全ての項目を入力してください');
            return false;
          } else if(password.value != passConfirm.value){
            alert('確認用パスワードが違います');
            return false;
          }else if(password.value.length < 7 ){
            alert('パスワードは７文字以上');
            return false;
          }
        }
      </script>
 
    </div>
</body>
</html>