<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style.css">
  <title>登録画面</title>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</head>
<body>
  <div class="container">
    <div class="contentName">Register</div>
      <form action="#" method=#post>
        <dl>
          <dt>Name:　</dt>
          <dd><input type="text"></dd>
          <dt>E-Mail Address:　</dt>
          <dd><input type="text"></dd>
          <dt>Password:　</dt>
          <dd><input type="password"></dd>
          <dt>Confirm Password:　</dt>
          <dd><input type="password"></dd>
        </dl>
      </form>
      <button type="button" onclick="location.href='/'">Register</button>
    </div>
</body>
</html>